body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.text-wrap {
  word-wrap: break-word;
}

.bot-army {
  overflow-x: scroll;
  min-height: 300px;
  max-width: 100%;
}

.ui.grid > .row.bot-army-row {
  flex-wrap: nowrap;
  min-height: 100%;
}

.ui.grid {
  padding: 0px 20px;
}

.menu {
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: space-around;
  background-color: aqua;
}

.classType {
  margin-left: 5px;
}

.oneCard {
  height: 100%;
  width: 20%;
}

/* .sort-bar {
  margin-left: 10px;
} */
